
body {
	background-color: lightblue;
	zoom: 67%;
}

p {
	font-size: 500%;
	background-color: white;
	border-style: solid;
	width: 100%;
	height: 100%;
	text-align: center;
}

#next_button {
	margin-left: 3em;
	width: 75%;
}

.question {
	margin: auto;
	margin-bottom: 1em;
}

#start {
	margin: auto;
	margin-top: 2em;
}

.container {
	display: grid;
	justify-items: center;
    grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
    grid-template-rows: auto auto; /* First row auto-height, second row 100px */  /* Adds space between grid items */
}

#score {
	margin: right;	
}
