
body {
	background-color: lightblue;
}

p {
	font-size: 500%;
	background-color: white;
	border-style: solid;
	width: 500px;
	text-align: center;
}

#next_button {
	margin-left: 1200px;
}

.question {
	margin: 0 auto;
	padding-right: 50px;
	padding-left: 50px;
}

#2nd_row {
	padding-left 600px;
}